[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://_json_key_base64:${AOSS_KEY}s@us-python.pkg.dev/cloud-aoss/cloud-aoss-python/simple"
verify_ssl = false
name = "aoss"

[packages]
flask = "*"
install = "*"
google-auth = "*"
requests = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
black = "*"
firebase-admin = "*"
google-cloud-pubsub = "*"
google-cloud-secret-manager = "*"
redis = "*"
pre-commit = "*"
detect-secrets = "*"
emoji = "*"
keyring = "*"
"keyrings.google-artifactregistry-auth" = "*"
flask-swagger-ui = "*"

[dev-packages]

[requires]
python_version = "3.10"
