<head>
  <link rel="stylesheet" href="static/styles/pictures.css">
  <link rel="stylesheet" href="static/styles/text_box.css">
</head>


<div class="center">

  {% for word_doc in word_docs %}
  <div class="property-card">
    <a href="#">
      <div class="property-image">
        <img src="{{ word_doc.generated_picture_bucket_public_url }}">
        <div class="property-image-title">
          <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
        </div>
      </div></a>
    <div class="property-description">
      <h5> {{ word_doc.entire_description }} </h5>
      <p>Collaborators: .</p>
      <h8> {{ word_doc.co_authors }} </h8>
    </div>
    <a href="#">
      <div class="property-social-icons">
        <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
      </div>
    </a>
  </div>
  {% endfor %}


</div>

<body>
    <div class="textboxid">
      <form action="/add_word" method="post" class="form-wrapper">
      <input type="text" name= "text" id="describe" placeholder="Write a description for a picture" required>
      <input type="submit" value="generate" id="submit">
      </form>
  </div>
</body>
