<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Lazy Load Images</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./static/styles/pictures2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<ul class="card-list">
  {% for word_doc in word_docs %}

	<li class="card">
            <a class="card-image" href="{{ word_doc.generated_picture_bucket_public_url }}" target="_blank" style="background-image: url({{ word_doc.generated_picture_bucket_public_url }});" data-image-full="{{ word_doc.generated_picture_bucket_public_url }}">
			<img src="{{ word_doc.generated_picture_bucket_public_url }}" />
		</a>
		<a class="card-description" href="{{ word_doc.generated_picture_bucket_public_url }}" target="_blank">
			<h2>{{ word_doc.entire_description }}</h2>
			<p>{{ word_doc.co_authors }}</p>
		</a>
	</li>
  {% endfor %}

</ul>
<!-- partial -->
  <script  src="./static/script/picture2.js"></script>

</body>
</html>
