<head>
  <link rel="stylesheet" href="static/styles/profile.css">
  <link rel="stylesheet" href="static/styles/text_box.css">

</head>

<main class="container">
  <div class="card">
    <img src="{{ idinfo.picture }}" alt="User image" class="card__image" />
    <div class="card__text">
      <h2>{{ idinfo.name }}</h2>
      <p>{{ idinfo.email }}</p>
    </div>
    <ul class="card__info">
      <li>
        <span class="card__info__stats">{{ stats.word_num }}</span>
        <span>words</span>
      </li>
      <li>
        <span class="card__info__stats">{{ stats.picture_url_num }}</span>
        <span>Pictures</span>
      </li>
      <li>
        <span class="card__info__stats">{{ stats.num_co_authors }}</span>
        <span>Collaborators</span>
      </li>
    </ul>
    <div class="card__action">
      <a href='/pictures'> <button class="card__action__button card__action--follow">pictures</button></a>
      <a href='/logout'><button class="card__action__button card__action--message">logout</button></a>
    </div>
  </div>

</main>

<body>
    <div class="textboxid">
      <form action="/add_word" method="post" class="form-wrapper">
      <input type="text" name= "text" id="describe" placeholder="Write a description for a picture" required>
      <input type="submit" value="generate" id="submit">
      </form>
  </div>
</body>

