
body {
  background-color: #efffff;
}

img {
  display: block;
  width: 80px;
  margin: 200px auto;
  box-shadow: 0 5px 10px -7px #333333;
  border-radius: 50%;
  position: relative;
  left: 0;
  bottom: -200;
}

.form {
  background-color: #ffffff;
  width: 500px;
  margin: 50px auto 10px auto;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px -3px #333;
  text-align: center;
}

input {
  border-radius: 100px;
  padding: 10px 15px;
  width: 50%;
  border: 1px solid #D9D9D9;
  outline: none;
  display: block;
  margin: 20px auto 20px auto;
}

button {
  border-radius: 120px;
  border: none;
  background: #719BE6;
  width: 150%;
  padding: 10px;
  color: #FFFFFF;
  margin-top: 25px;
  box-shadow: 0 3px 10px -3px #719BE6;
  display: block;
  margin: 55px auto 10px auto;
  position: relative;
  left: -15%;
  bottom: 120%;
}

a {
  text-align: center;
  margin-top: 4px;
  color: #719BE6;
  text-decoration: none;
  padding: 0px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #B05574, #F87E7B);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative;
  top: 100%;
}